################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpNotesForProfessionals/Chapter 31 Value type vs Reference type/obj/project.nuget.cache
/CSharpNotesForProfessionals/Chapter 31 Value type vs Reference type/obj/project.assets.json
/CSharpNotesForProfessionals/Chapter 30 IEnumerable/obj/Debug/net7.0/Chapter 30 IEnumerable.AssemblyInfo.cs
/CSharpNotesForProfessionals/.vs/CSharpNotesForProfessionals/v17/.suo
/CSharpNotesForProfessionals/Chapter 13 String Concatenate/obj/Debug/net7.0/Chapter 13 String Concatenate.AssemblyInfo.cs
/CSharpNotesForProfessionals/Chapter 13 String Concatenate/obj/Debug/net7.0/Chapter 13 String Concatenate.AssemblyInfoInputs.cache
/CSharpNotesForProfessionals/Chapter 13 String Concatenate/obj/Debug/net7.0/Chapter 13 String Concatenate.assets.cache
/CSharpNotesForProfessionals/Chapter 13 String Concatenate/obj/Debug/net7.0/Chapter 13 String Concatenate.GeneratedMSBuildEditorConfig.editorconfig
/CSharpNotesForProfessionals/Chapter 13 String Concatenate/obj/Chapter 13 String Concatenate.csproj.nuget.dgspec.json
/CSharpNotesForProfessionals/Chapter 13 String Concatenate/obj/project.assets.json
/CSharpNotesForProfessionals/Chapter 13 String Concatenate/obj/project.nuget.cache
*.cs
/CSharpNotesForProfessionals/Chapter 14 String Manipulation/obj/Debug/net7.0/Chapter 14 String Manipulation.AssemblyInfoInputs.cache
*.cache
*.editorconfig
*.json
/CSharpNotesForProfessionals/Chapter 15 String Interpolation/obj/Debug/net7.0/Chapter 15 String Interpolation.AssemblyInfo.cs
/CSharpNotesForProfessionals/Chapter 15 String Interpolation/obj/Debug/net7.0/Chapter 15 String Interpolation.AssemblyInfoInputs.cache
/CSharpNotesForProfessionals/Chapter 15 String Interpolation/obj/Chapter 15 String Interpolation.csproj.nuget.dgspec.json
/CSharpNotesForProfessionals/Chapter 15 String Interpolation/obj/project.assets.json
/CSharpNotesForProfessionals/Chapter 15 String Interpolation/obj/Debug/net7.0/Chapter 15 String Interpolation.assets.cache
/CSharpNotesForProfessionals/Chapter 15 String Interpolation/obj/Debug/net7.0/Chapter 15 String Interpolation.GeneratedMSBuildEditorConfig.editorconfig
/CSharpNotesForProfessionals/Chapter 16 String Escape Sequences/obj/Debug/net7.0/Chapter 16 String Escape Sequences.AssemblyInfo.cs
/CSharpNotesForProfessionals/Chapter 16 String Escape Sequences/obj/Debug/net7.0/Chapter 16 String Escape Sequences.AssemblyInfoInputs.cache
/CSharpNotesForProfessionals/Chapter 16 String Escape Sequences/obj/Debug/net7.0/Chapter 16 String Escape Sequences.assets.cache
/CSharpNotesForProfessionals/Chapter 16 String Escape Sequences/obj/Debug/net7.0/Chapter 16 String Escape Sequences.GeneratedMSBuildEditorConfig.editorconfig
/CSharpNotesForProfessionals/Chapter 16 String Escape Sequences/obj/Chapter 16 String Escape Sequences.csproj.nuget.dgspec.json
/CSharpNotesForProfessionals/Chapter 16 String Escape Sequences/obj/project.assets.json
/CSharpNotesForProfessionals/Chapter 16 String Escape Sequences/obj/project.nuget.cache
/CSharpNotesForProfessionals/Chapter 17 StringBuilder/obj/Debug/net7.0/Chapter 17 StringBuilder.AssemblyInfo.cs
/CSharpNotesForProfessionals/Chapter 17 StringBuilder/obj/Debug/net7.0/Chapter 17 StringBuilder.AssemblyInfoInputs.cache
/CSharpNotesForProfessionals/Chapter 17 StringBuilder/obj/Debug/net7.0/Chapter 17 StringBuilder.assets.cache
/CSharpNotesForProfessionals/Chapter 17 StringBuilder/obj/Debug/net7.0/Chapter 17 StringBuilder.GeneratedMSBuildEditorConfig.editorconfig
/CSharpNotesForProfessionals/Chapter 17 StringBuilder/obj/Chapter 17 StringBuilder.csproj.nuget.dgspec.json
/CSharpNotesForProfessionals/Chapter 17 StringBuilder/obj/project.assets.json
/CSharpNotesForProfessionals/Chapter 17 StringBuilder/obj/project.nuget.cache
/CSharpNotesForProfessionals/Chapter 18 Regex Parsing/obj/Chapter 18 Regex Parsing.csproj.nuget.dgspec.json
/CSharpNotesForProfessionals/Chapter 18 Regex Parsing/obj/project.assets.json
/CSharpNotesForProfessionals/Chapter 18 Regex Parsing/obj/project.nuget.cache
/CSharpNotesForProfessionals/Chapter 19 DateTime Methods/obj/project.assets.json
/CSharpNotesForProfessionals/Chapter 19 DateTime Methods/obj/project.nuget.cache
/CSharpNotesForProfessionals/Chapter 30 IEnumerable/obj/project.assets.json
/CSharpNotesForProfessionals/Chapter 30 IEnumerable/obj/project.nuget.cache
/CSharpNotesForProfessionals/Chapter 26 Collection Initializers/obj/project.nuget.cache
/CSharpNotesForProfessionals/Chapter 26 Collection Initializers/obj/Debug/net7.0/Chapter 26 Collection Initializers.AssemblyInfo.cs
/CSharpNotesForProfessionals/Chapter 26 Collection Initializers/obj/Debug/net7.0/Chapter 26 Collection Initializers.AssemblyInfoInputs.cache
/CSharpNotesForProfessionals/Chapter 26 Collection Initializers/obj/Debug/net7.0/Chapter 26 Collection Initializers.assets.cache
/CSharpNotesForProfessionals/Chapter 26 Collection Initializers/obj/Debug/net7.0/Chapter 26 Collection Initializers.GeneratedMSBuildEditorConfig.editorconfig
/CSharpNotesForProfessionals/Chapter 26 Collection Initializers/obj/Chapter 26 Collection Initializers.csproj.nuget.dgspec.json
/CSharpNotesForProfessionals/Chapter 26 Collection Initializers/obj/project.assets.json
/CSharpNotesForProfessionals/Chapter 24 Guid/obj/project.nuget.cache
/CSharpNotesForProfessionals/Chapter 24 Guid/obj/project.assets.json
/CSharpNotesForProfessionals/Chapter 23 Tuples/obj/Chapter 23 Tuples.csproj.nuget.dgspec.json
/CSharpNotesForProfessionals/Chapter 23 Tuples/obj/Debug/net7.0/Chapter 23 Tuples.AssemblyInfo.cs
/CSharpNotesForProfessionals/Chapter 23 Tuples/obj/Debug/net7.0/Chapter 23 Tuples.AssemblyInfoInputs.cache
/CSharpNotesForProfessionals/Chapter 23 Tuples/obj/Debug/net7.0/Chapter 23 Tuples.assets.cache
/CSharpNotesForProfessionals/Chapter 23 Tuples/obj/Debug/net7.0/Chapter 23 Tuples.GeneratedMSBuildEditorConfig.editorconfig
/CSharpNotesForProfessionals/Chapter 23 Tuples/obj/project.assets.json
/CSharpNotesForProfessionals/Chapter 23 Tuples/obj/project.nuget.cache
/CSharpNotesForProfessionals/Chapter 15 String Interpolation/obj/project.nuget.cache
/CSharpNotesForProfessionals/.vs/CSharpNotesForProfessionals/FileContentIndex/1a76cbb0-efe2-4b85-be91-f366e92c391f.vsidx
/CSharpNotesForProfessionals/.vs/CSharpNotesForProfessionals/FileContentIndex/b81b5b87-7c50-40e1-b2f4-df68ccc9ea1c.vsidx
/CSharpNotesForProfessionals/.vs/CSharpNotesForProfessionals/FileContentIndex/b916efe2-33c7-47d4-b7f3-e544c0a4359d.vsidx
